<body>
    <fieldset class="userinput">
        <legend>Admin Login</legend>
        <form #adminForm="ngForm">
            <table>
                <tr>
                    <td><label for="username">Admin Username</label> </td>
                    <td><input class="element" type="text" name="adminname" ngModel #adminname="ngModel"
                            placeholder="Enter Username" required> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="adminname.invalid && adminname.touched">Name is mandatory
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Admin Password</label> </td>
                    <td><input class="element" type="password" id="password" name="password" ngModel #password="ngModel"
                            placeholder="Enter Password" required>
                        &nbsp; <i class="fa fa-eye" id="eye" (click)="toggle()"></i> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="password.invalid && password.touched">Password is
                            mandatory
                        </mat-error>
                        <div id="incorrect-password" *ngIf="incorrectPassword">Invalid Credentials</div>
                        <div class="loader" *ngIf="loading">Loading...</div>
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td><input class="submit" type="submit" value="Submit" (click)="onSubmit(adminForm)"></td>
                </tr>

            </table>
        </form>
    </fieldset>
</body>