p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
    color: chocolate;
    text-shadow: 2px 2px 2px #CCCCCC;
    margin: 40px;
    font-size: 2.3em;
}

.btn {
    padding: 10px 10px 10px 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn-green {
    background-color: lightgreen;
    border: 1px solid black;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 6%;
    color: white;
}

.btn-red {
    background-color: #cc0000;
    border: 1px solid black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 6%;
}

table {
    margin: auto;
    width: 50%;
    padding-right: 0%;
    border-collapse: collapse;
    border: 8px solid #DEB887;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
    color: brown;
    font-size: 1.1em;
    margin-bottom: 35px;
    margin-top: 35px;
}

th, td {
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
}

tr:nth-child(even) {
    background-color: #DEB887;
    color: white;
}

a {
    padding: 25px;
    position: fixed;
    margin-left: 80%;
    font-family: 'Montserrat', sans-serif;
}

.empty-msg {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: cyan;
    margin-top: 20%;
}