<body>
    <fieldset class="userinput">
        <legend>Delete Classified</legend>
        <form #deleteForm="ngForm">
            <table>

                <tr>
                    <td><label for="classifiedId">Enter Classified Id</label> </td>
                    <td><input class="element" type="text" name="classifiedId" placeholder="Enter Classified Id"
                            required ngModel #delete="ngModel">

                </tr>
                <tr><td></td><td><mat-error *ngIf="delete.invalid && (delete.dirty || delete.touched)" >Enter Classified ID</mat-error></td></tr>
                <tr>
                    <td></td>
                    <td><input class="submit" type="submit" value="Delete" (click)="user(deleteForm)"></td>
                </tr>

            </table>
        </form>
    </fieldset>
</body>
