<!DOCTYPE html>
<html>

<head>
    <title>Update City Details</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>

<body>
    <form #update="ngForm">
    <fieldset class="k11">
        <legend>Update City Details</legend>
        <table>
            <tr>
                <td><label for="detailId">Enter Detail Id</label></td>
                <td><input class="element" type="text" name="detailId" placeholder="Enter Detail Id" required ngModel #detail="ngModel"></td>
            </tr>
            <tr><td></td><td><mat-error *ngIf="detail.invalid && (detail.dirty || detail.touched)" >Enter Detail Id</mat-error></td></tr>
            <tr>
                <td><label for="heading">Enter Heading</label></td>
                <td><input class="element" type="textarea" name="heading" placeholder="Enter Heading" required ngModel #heading="ngModel"></td>
            </tr>
            <tr><td></td><td><mat-error *ngIf="heading.invalid && (heading.dirty || heading.touched)" >Enter Heading</mat-error></td></tr>
            <tr>
                <td><label for="description">Enter Description</label></td>
                <td><textarea class="element" type="textarea" name="description" placeholder="Enter Description" rows="4"
                        cols="50" required ngModel #description="ngModel"></textarea></td>
            </tr>
            <tr><td></td><td><mat-error *ngIf="description.invalid && (description.dirty || description.touched)" >Enter Description</mat-error></td></tr>
            <tr>
                <td><label for="address">Enter Address</label></td>
                <td><textarea class="element" type="textarea" name="address" placeholder="Enter Address" rows="4" cols="50"
                        required ngModel #address="ngModel"></textarea></td>
            </tr>
            <tr><td></td><td><mat-error *ngIf="address.invalid && (address.dirty || address.touched)" >Enter Address</mat-error></td></tr>
            <tr>
                <td></td>
                <td><input class="submit" type="submit" value="Submit" (click)="updateForm(update)"></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>

</html>