<body>
    <fieldset class="userinput">
        <legend>Post Classified</legend>
        <form #postclassified="ngForm" (ngSubmit)="post(postclassified)">

            <table>
                <tr>
                    <td><label for="cities">Choose City</label></td>
                    <td><select name="city" id="cities" class="custom-select element" ngModel #city="ngModel">
                            <option [ngValue]={id:1}>Chennai</option>
                            <option [ngValue]={id:2}>Bangalore</option>
                            <option [ngValue]={id:3}>Coimbatore</option>
                            <option [ngValue]={id:4}>Mumbai</option>
                        </select> </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="city.invalid && city.touched">Please choose a city
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="heading">Enter Heading</label> </td>
                    <td><input class="element" type="text" name="heading" placeholder="Enter Heading" required ngModel
                            #heading="ngModel"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="heading.invalid && heading.touched">Heading cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="category">Enter Category</label> </td>
                    <td><input class="element" type="text" name="category" placeholder="Enter Category" required ngModel
                            #category="ngModel"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="category.invalid && category.touched">Category cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Enter Description</label></td>
                    <td><textarea class="element" type="textarea" name="description" rows="6" cols="50"
                            placeholder="Enter Description" required ngModel #description="ngModel"></textarea> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="description.invalid && description.touched">Description cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="price">Enter Price</label> </td>
                    <td><input class="element" type="number" step="0.01" name="price" placeholder="Enter Price" required
                            ngModel #price="ngModel"> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="price.invalid && price.touched">Enter a valid Price</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="phoneNumber">Enter PhoneNumber</label> </td>
                    <td> <input class="element" type="text" name="contactNumber" pattern="[6-9]{1}[0-9]{9}"
                            placeholder="Enter PhoneNumber" required ngModel #phonenumber="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="phonenumber.invalid && phonenumber.touched">Phone number must be valid and
                            have 10 digits</mat-error>
                    </td>
                </tr>
                <tr>
                    <td> <label for="email">Enter Email Id</label> </td>
                    <td> <input class="element" type="email" name="contactMail" placeholder="Enter Email Id" required
                            ngModel #email="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="email.invalid && email.touched">E-mail id is mandatory</mat-error>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="submit" type="submit" value="Submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>