<!DOCTYPE html>
<html>

<head>
    <title>Content Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="nav-bar">
        <span class="title-name">City Classifieds</span>
        <input type="text" class="search" name="searchByCategory" placeholder="Search By Category"><button
            class="search" type="button" onclick=""><i class="fa fa-search custom-search"></i></button>
        <input type="text" class="search" name="searchByType" placeholder="Search By Type"><button class="search"
            type="button" onclick=""><i class="fa fa-search custom-search"></i></button>
        <input type="text" class="search" name="searchByClassifiedId" placeholder="Search By ClassifiedId"><button
            class="search" type="button" onclick=""><i class="fa fa-search custom-search"></i></button>
        <label for="cities">Change City</label> &nbsp;
        <select name="cities" id="cities" class="custom-select" onchange="">
            <option value="Chennai">Chennai</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Coimbatore">Coimbatore</option>
            <option value="Mumbai">Mumbai</option>
        </select>
    </div>
    <div class="myC-btn">
        <button class="myClassifieds" routerLink="/myclassifieds"routerLinkActive=active onclick= "" >My Classifieds</button>
    </div>
    <div class="city-details">
        City Details Will be shown here..
    </div>
    <div class="classifieds">
        Classifieds will be shown here..
    </div>
</body>

</html>