<body>
    <fieldset class="userinput">
        <legend>Forgot-Password</legend>
        <form #forgotpassword="ngForm" (ngSubmit)="forgot(forgotpassword)">
            <table>
                <tr>
                    <td><label for="userName">Enter UserName</label> </td>
                    <td> <input class="element" type="text" name="userName" placeholder="Enter UserName" required
                            ngModel #userName="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="userName.invalid && userName.touched">UserName is mandatory</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="phoneNumber">Enter PhoneNumber</label> </td>
                    <td> <input class="element" type="text" name="phoneNumber" pattern="[6-9]{1}[0-9]{9}"
                            placeholder="Enter Phone Number" required ngModel #phonenumber="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="phonenumber.invalid && phonenumber.touched">Phone
                            Number is mandatory</mat-error>
                    </td>
                </tr>
                <tr>
                    <td> <label for="dateOfBirth">Enter Date Of Birth</label> </td>
                    <td> <input class="element" type="date" name="dateOfBirth" placeholder="Enter Date Of Birth"
                            required ngModel #dob="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="dob?.invalid && (dob?.dirty || dob?.touched)">Date of Birth is mandatory
                        </mat-error>
                        <div class="loader" *ngIf="loading">Loading...</div>
                        <mat-error *ngIf="invalidCredentials">Invalid Credentials</mat-error>
                        <mat-error *ngIf="userNotRegistered">User Not Registered</mat-error>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit" type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>