<!DOCTYPE html>
<html>

<head>
    <title>Delete Classifieds </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <fieldset class="userinput">
        <legend>Delete Classified</legend>
        <form action="#">
            <table>

                <tr>
                    <td><label for="classifiedId">Enter Classified Id</label> </td>
                    <td><input class="element" type="text" name="classifiedId" placeholder="Enter Classified Id"
                            required>

                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit" type="submit" value="Delete"></td>
                </tr>

            </table>
        </form>
    </fieldset>
</body>


</html>