<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome Admin</title>
 
</head>

<body>
    <h1>WELCOME ADMIN</h1>
    <table>
        <tr>
            <td>
                <input type="search" class="search" placeholder="Search by Classified Id" name="searchByClassifiedId">
                <button class="search" type="button" onclick=""><i class="fa fa-search custom-search"></i></button>
            </td>
            <td><input type="search" class="search" placeholder="Search by Category" name="searchByCategory">
                <button class="search" type="button" onclick=""><i class="fa fa-search custom-search"></i></button>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="column">
                <button class="btn" routerLink="/add-citydetails"routerLinkActive="active" type="button" onclick="">Add City Details</button>
            </td>
            <td class="column">
                <button class="btn" routerLink="/view-classifieds"routerLinkActive="active" type="button" onclick="">View Classified</button>
            </td>
            <td class="column">
                <button class="btn" routerLink="/post-classifieds"routerLinkActive="active" type="button" onclick="">Post Classified</button>
            </td>
        </tr>

    </table>
    <table>
        <tr>
            <td class="column">
                <button class="btn" routerLink="/update-citydetails"routerLinkActive="active" type="button" onclick="">Update Details</button>
            </td>
            <td class="column">
                <button class="btn" routerLink="/delete-classifieds"routerLinkActive="active" type="button" onclick="">Delete Classified</button>
            </td>
        </tr>
    </table>
</body>

</html>