<!DOCTYPE html>
<html>

<head>
    <title>My Classifieds</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    
</head>

<body>
    <h1>My Classifieds</h1> <br><br>
    <div class="container">
        <div class="classified">Classified 1</div> <button class="btn btn-green" onclick="">Update</button> &nbsp; <button
            class="btn btn-red" onclick="">Delete</button>
    </div>
    <div class="container">
        <div class="classified" >Classified 2</div> <button class="btn btn-green" onclick="">Update</button> &nbsp; <button class="btn btn-red"
            onclick="">Delete</button>
    </div>
</body>

</html>