<body>
    <h1>WELCOME ADMIN</h1>
    <form #welcomeForm="ngForm">
        <table>
            <tr>
                <td>
                    <input type="number" class="search" ngModel #classifiedid="ngModel"
                        placeholder="Search by Classified Id" name="searchByClassifiedId" required>
                    <button class="search" type="button" (click)="onSearchByClassifiedId(classifiedid)"
                        [disabled]="classifiedid.invalid"><i class="fa fa-search custom-search"></i></button>
                </td>
                <td><input type="search" class="search" ngModel #category="ngModel" placeholder="Search by Category"
                        name="searchByCategory" required>
                    <button class="search" type="button" [disabled]="category.invalid"
                        (click)="onSearchByCategory(category)"><i class="fa fa-search custom-search"></i></button>
                </td>
                <td>
                    <button class="btn" (click)="viewControlsToggle()" *ngIf="!viewControls">BACK TO CONTROLS</button>
                    <button class="btn" (click)="onLogout()" *ngIf="viewControls">LOGOUT</button>
                </td>
            </tr>
        </table>
    </form>

    <table *ngIf="viewControls">
        <tr>
            <td class="column">
                <button class="btn-1" routerLink="/add-citydetails/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Add
                    City Details</button>
            </td>
            <td class="column">
                <button class="btn-1" routerLink="/view-classifieds" routerLinkActive="active" type="button">View
                    Classified</button>
            </td>
            <td class="column">
                <button class="btn-1" routerLink="/post-classifieds-admin/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Post Admin
                    Classified</button>
            </td>
            <td class="column">
                <button class="btn-1" routerLink="/update-citydetails/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Update Details</button>
            </td>
        </tr>
        <tr>
            <td class="column">
                <button class="btn-1" routerLink="/delete-city-details/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Delete City Details</button>
            </td>
            <td class="column">
                <button class="btn-1" routerLink="/delete-classifieds/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Delete Classified</button>
            </td>
            <td class="column">
                <button class="btn-1" routerLink="/delete-admin-classified/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Delete Admin Classified</button>
            </td>

            <td class="column">
                <button class="btn-1" routerLink="/delete-user/{{currentAdminId}}" routerLinkActive="active"
                    type="button">Delete User
                </button>
            </td>

        </tr>
    </table>
    <div *ngIf="!viewControls">
        <div *ngIf="errorMsg" class="error-msg"><i class="fas fa-heart-broken"></i> Some error occured in retrieving
            classifieds ...</div>
        <div *ngIf="noResults" class="not-found-msg"><i class="fa fa-frown-o" aria-hidden="true"></i> No results found
            ... </div>
        <table class="city-classifieds" *ngFor="let classified of classifieds">
            <tr>
                <td>
                    Classified Id
                </td>
                <td>
                    {{ classified?.id }}
                </td>
            </tr>
            <tr>
                <td>
                    Heading
                </td>
                <td>
                    {{ classified?.heading }}
                </td>
            </tr>
            <tr>
                <td>
                    Description
                </td>
                <td>
                    {{ classified?.description }}
                </td>
            </tr>
            <tr>
                <td>
                    Category
                </td>
                <td>
                    {{ classified?.category }}
                </td>
            </tr>
            <tr>
                <td>
                    Price
                </td>
                <td>
                    Rs. {{classified?.price }}
                </td>
            </tr>
            <tr>
                <td>
                    Contact Mail
                </td>
                <td>
                    {{ classified?.contactMail }}
                </td>
            </tr>
            <tr>
                <td>
                    Contact Number
                </td>
                <td>
                    {{ classified?.contactNumber }}
                </td>
            </tr>
            <tr>
                <td>
                    Posted Date
                </td>
                <td>
                    {{ classified?.postedDate | date : 'medium' }}
                </td>
            </tr>
            <tr>
                <td>
                    City
                </td>
                <td>
                    {{ classified?.city?.cityName }}
                </td>
            </tr>
        </table>
    </div>
</body>