<body>
    <fieldset class="userinput">
        <legend>New Password</legend>
        <form #newPass=ngForm (ngSubmit)="onSubmit(newPass)">
            <table>

                <tr>
                    <td><label for="password">Enter new Password</label> </td>
                    <td><input class="element" type="password" id="password" ngModel name="password"
                            placeholder="Enter Password" required #newpassword="ngModel">
                        &nbsp; <i class="fa fa-eye" id="eye" (click)="toggle()"></i> </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="newpassword.invalid && newpassword.touched">This field cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Confirm new Password</label> </td>
                    <td><input class="element" type="password" ngModel name="confirmPassword"
                            placeholder="Confirm Password" #confirmpassword="ngModel" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="confirmpassword.invalid && confirmpassword.touched">This field connot be blank
                        </mat-error>
                        <mat-error *ngIf="notSame">Passwords do not match</mat-error>
                        <div class="loader" *ngIf="loading">Loading...</div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit" type="submit" value="Submit" [disabled]="newPass?.invalid"></td>
                </tr>

            </table>
        </form>
    </fieldset>
</body>