<body>
    <form #update="ngForm" (ngSubmit)="onUpdate()">
        <fieldset class="k11">
            <legend>Update City Details</legend>
            <table>
                <tr>
                    <td><label for="detailId">Enter Detail Id</label></td>
                    <td><input [(ngModel)]="detail.infoId" class="element" type="text" name="infoId"
                            placeholder="Enter Detail Id" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="detail.invalid && (detail.dirty || detail.touched)">Enter Detail Id
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="Choose City">Choose City</label> </td>
                    <td><select [(ngModel)]="detail.city" class="element custom-select" id="Choose City" name="city"
                            required ngModel #city="ngModel">
                            <option [ngValue]={id:1}>Chennai</option>
                            <option [ngValue]={id:2}>Bangalore</option>
                            <option [ngValue]={id:3}>Coimbatore</option>
                            <option [ngValue]={id:4}>Mumbai</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="city.invalid && city.touched">Please select a City</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="type">Choose Type</label> </td>
                    <td><select [(ngModel)]="detail.infoType" class="element custom-select" id="Choose Type"
                            name="infoType" required ngModel #type="ngModel">
                            <option [ngValue]={id:1}>Hospital</option>
                            <option [ngValue]={id:2}>Theatre</option>
                            <option [ngValue]={id:3}>Malls</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="type.invalid && type.touched">Please choose a Type</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="heading">Enter Heading</label></td>
                    <td><input [(ngModel)]="detail.heading" class="element" type="textarea" name="heading"
                            placeholder="Enter Heading" required ngModel #heading="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="heading.invalid && heading.touched">Heading cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Enter Description</label></td>
                    <td><textarea [(ngModel)]="detail.description" class="element" type="textarea" name="description"
                            placeholder="Enter Description" rows="4" cols="50" required ngModel
                            #description="ngModel"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="description.invalid && description.touched">Description cannot be blank
                        </mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="address">Enter Address</label></td>
                    <td><textarea [(ngModel)]="detail.address" class="element" type="textarea" name="address"
                            placeholder="Enter Address" rows="4" cols="50" required ngModel
                            #address="ngModel"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="address.invalid && address.touched">Address cannot be blank</mat-error>
                    </td>
                </tr>
                <tr>
                    <td><label for="rating">Enter Rating</label></td>
                    <td><input [(ngModel)]="detail.rating" class="element" type="number" name="rating"
                            placeholder="Enter Rating" max="5" step="1" required ngModel #rating="ngModel"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <mat-error *ngIf="rating.invalid && rating.touched">Give a valid rating</mat-error>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="submit" type="submit" value="Submit"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>