<body>
  <header>
    <div id="header-container">
      <div class="col-2">
        <h1 class="logo">Welcome to City Classifieds</h1>
      </div>
      <div class="menu-div">
        <ul class="menu">

          <li><a routerLink="/user-login" routerLinkActive="active">User Login</a></li>
          <li><a routerLink="/admin-login" routerLinkActive="active">Admin Login</a></li>
          <li><a routerLink="/register" routerLinkActive="active">Register</a></li>

        </ul>
      </div>
    </div>
    <!--Header container ends here-->
  </header>

  <div class="main-container">
    <div id="top-section-main">
      <div id="top-section-content">
        <h1>The world within your hands.</h1>
        <p>Everything you need to know about the city in one place. </p>
      </div>
    </div>
    <div class="view-btn">
    <button class="pushable" routerLink="/view-classifieds">
      <span class="front">
        VIEW CLASSIFIEDS
      </span>
    </button>
  </div>
  </div>

</body>